/* Home CSS */
.home_container{
  max-width: 100%; /* This ensures the maximum width is the screen width */
  margin: 0 auto; /* This centers the container horizontally */
  box-sizing: border-box;
  overflow: hidden;
}




/* DashBoard CSS */
.dashboard_container{
  background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(175, 173, 173, 0.45), 
      rgba(22, 22, 22, 0.61)
    ),
    /* your image */
    url(../public/assets/shutterstock_647070460.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  height: 80vh;
  width: 100vw;
  padding: 30px 50px 50px 130px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* DashBoard CSS */
.about_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 70px;
}

.workshop_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}


/* Card CSS */
.card_container{
  
  margin-top: 20px;
  width: 380px;
  height: 400px;
  border-radius: 20px;
  /* background-color: rgb(226, 226, 226); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
  transition: box-shadow 0.3s ease; 
}

.card_container:hover{
  box-shadow: 5px 5px 8px  rgba(175, 173, 173, 0.50); 
  cursor: pointer;
}


.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 70px;
  margin: 20px;
}

.card-button{
  padding: 10px 27px;
  background-color: white;
  color: black;
  border-radius: 50px;
  border: 2px solid #00AFB9;
}

.card-button:hover{
  background-color: #00AFB9;
  color: white;
}


/* Float window  CSS */

.float_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  overflow: hidden;
}


.float_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_card_container{


/* From https://css.glass */
background: rgba(255, 255, 255, 0.30);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.16);


  width: 50%;
  height: auto;
  border-radius: 60px;
  padding: 30px 65px;

}

.inp ,textarea{
  background-color: #ffffff00;
  color: white;
  border:none;
  border-bottom: 1px solid #ffffff;
  padding: 5px 10px;
  outline: none;
  margin: 20px;
}
.inp::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease; 
  text-indent: -100%;
  opacity: 1;
}

.inp option{
  background-color: #0A1E3C;
  color: #ffffff;
  padding: 28px;
}


.register_container{
  background-color: #0A1E3C;
  color: white;
  height: 400px;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}



.footer_container{
  background-color: #00AFB9;
  padding: 4% 6%;
}

